In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('creditcard.csv')
data.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
data.Class.value_counts() # 0 is normal transaction and 1 is fraudulant transaction

0    284315
1       492
Name: Class, dtype: int64

In [6]:
legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [7]:
legit.shape

(284315, 31)

In [8]:
fraud.shape

(492, 31)

In [9]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [10]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# under sampling

In [14]:
#build a sample dataset containing similar distribution of normal transaction and fraudulant transaction
legit_sample = legit.sample(n=492)

In [15]:
#concatenating 2 dataframes
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [16]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
133509,80419.0,1.208993,-0.421583,1.090502,-0.839929,-1.377007,-0.815309,-0.743456,-0.023051,1.746543,...,0.279241,0.949394,-0.130741,0.429311,0.492848,-0.553943,0.103294,0.044466,19.99,0
197047,131820.0,-0.486623,0.898067,2.143935,4.671724,-0.107536,1.248783,1.009428,-0.014283,-1.394975,...,0.122107,0.520459,-0.196123,-0.021292,0.490765,0.681436,-0.109452,-0.135242,144.57,0
229679,146014.0,-0.255871,-0.293998,-0.684547,-0.792230,2.088093,-0.790609,0.463744,-0.006832,-0.113215,...,0.099372,0.116630,0.493340,0.199807,-1.863719,-0.377596,0.266705,0.358113,15.00,0
30289,35856.0,1.236976,0.058841,0.324885,0.584026,0.044355,0.321747,-0.132650,0.032144,0.419347,...,-0.312873,-0.642864,-0.011543,-0.719958,0.412408,0.258864,0.007080,0.007696,7.81,0
153933,100720.0,2.204132,-0.821044,-0.368342,-0.754606,-0.904908,-0.320782,-1.237620,-0.126211,1.377996,...,0.229380,0.962847,0.175509,0.644076,-0.178740,-0.133086,-0.011973,-0.046522,0.49,0

In [18]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94855.158537,0.019342,0.030737,0.078314,0.020540,0.022321,-0.054102,0.084985,0.004929,0.035371,...,0.019163,0.003623,-0.020292,0.008611,0.022944,0.029693,0.001952,-0.006098,0.000985,84.136138
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [21]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [22]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
133509,80419.0,1.208993,-0.421583,1.090502,-0.839929,-1.377007,-0.815309,-0.743456,-0.023051,1.746543,...,-0.043450,0.279241,0.949394,-0.130741,0.429311,0.492848,-0.553943,0.103294,0.044466,19.99
197047,131820.0,-0.486623,0.898067,2.143935,4.671724,-0.107536,1.248783,1.009428,-0.014283,-1.394975,...,0.470914,0.122107,0.520459,-0.196123,-0.021292,0.490765,0.681436,-0.109452,-0.135242,144.57
229679,146014.0,-0.255871,-0.293998,-0.684547,-0.792230,2.088093,-0.790609,0.463744,-0.006832,-0.113215,...,0.000843,0.099372,0.116630,0.493340,0.199807,-1.863719,-0.377596,0.266705,0.358113,15.00
30289,35856.0,1.236976,0.058841,0.324885,0.584026,0.044355,0.321747,-0.132650,0.032144,0.419347,...,-0.050744,-0.312873,-0.642864,-0.011543,-0.719958,0.412408,0.258864,0.007080,0.007696,7.81
153933,100720.0,2.204132,-0.821044,-0.368342,-0.754606,-0.904908,-0.320782,-1.237620,-0.126211,1.377996,...,-0.039743,0.229380,0.962847,0.175509,0.644076,-0.178740,-0.133086,-0.011973,-0.046522,0.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, stratify=Y, random_state=2)

In [24]:
# model training
model = LogisticRegression()
model.fit(X_train,Y_train)

C:\Users\mehak\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [25]:
#evaluation of model
X_train_pred = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_pred, Y_train)

In [26]:
print('accuracy on training data:', training_data_accuracy)

accuracy on training data: 0.9466327827191868

In [27]:
X_test_pred = model.predict(X_test)
test_data_accuracy =accuracy_score(X_test_pred,Y_test)

In [28]:
print('accuracy on testung data:', test_data_accuracy)

accuracy on testung data: 0.9441624365482234