In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
raw_mail_data = pd.read_csv('data.csv')
raw_mail_data.head(5)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
raw_mail_data.shape

(5572, 2)

In [8]:
raw_mail_data.Category.value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [9]:
#replace null values with a null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [11]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

# label encoding

In [12]:
mail_data.loc[mail_data['Category'] == 'spam', 'Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category',] = 1

In [13]:
#seperating text and label
X = mail_data['Message']
Y = mail_data['Category']

In [14]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [15]:
Y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, random_state=3)

In [17]:
print(X.shape,X_train.shape, X_test.shape)

(5572,) (4457,) (1115,)

# feature extraction

In [18]:
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

# training the model

In [21]:
model = LogisticRegression()
model.fit(X_train_features, Y_train)

LogisticRegression()

# evaluating the trained model

In [22]:
#prediction on traing data
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train,prediction_on_training_data)

In [23]:
print('accuracy score on training data =', accuracy_on_training_data)

accuracy score on training data = 0.9670181736594121

In [24]:
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test,prediction_on_test_data)

In [25]:
print('accuracy score on test data =', accuracy_on_test_data)

accuracy score on test data = 0.9659192825112107

# building a prediction system

In [30]:
input_mail = ["Thanks for your subscription to Ringtone UK your mobile will be charged ÃÂ£5/month Please confirm by replying YES or NO. If you reply NO you will not be charged"]

#convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

#making predictions

prediction = model.predict(input_data_features)
print(prediction)

if prediction[0] == 0:
    print('It is a spam mail')
else:
    print('It is a ham mail')

[0]
It is a spam mail